.card__container{
  position: relative; /*FAZER OS DEMAIS COMPONENTS FIQUEM A FRENTE*/
  border: 3px solid #3e4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden; /*TD Q SAIR DA CAIXA, FICARA HIDDEN, NO CASO A PROPRIA IMG*/
  margin-top: 10px;
}

.card__img{
  min-width: 100%;
  min-height: 100%;
  transition: transform .8s;
}

.card__img:hover{
  transform: scale(1.1);
}
