<div class="home__container">
  <app-card
    gameCover = "assets/bt-1.jpg"
    gameLabel = "DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 159,90">
  </app-card>

  <app-card
    gameCover = "assets/bt-5.jpg"
    gameLabel = "EXCLUSIVE"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 259,90">
  </app-card>

  <app-card
    gameCover = "assets/ac-cover.jpg"
    gameLabel = "EXCLUSIVE"
    gameType="FISICO | PS5"
    gamePrice="R$ 359,90">
  </app-card>

  <app-card
    gameCover = "assets/bt-hardline.jpg"
    gameLabel = "PRIME"
    gameType="FISICO | PS5"
    gamePrice="R$ 59,90">
  </app-card>
</div>

